<div ng-controller="OrderCtrl" class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
                <div class="form-login">
                    <h4>Welcome back.</h4>
                    <input type="text" ng-model="login" class="form-control input-sm" placeholder="Имя пользователя" />
                    </br>
                    <input type="text" ng-model="password"  class="form-control input-sm" placeholder="Пароль" />
                    </br>
                    <div class="wrapper">
                    <span class="group-btn">
                        <a ui-sref="index.items" class="btn btn-primary btn-md">Вход <i class="fa fa-sign-in"></i></a>
                    </span>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>